:root {
    --green: #9AEA89;
    --dark : #030C11;
    --light: #030f14;
    --font-bright: rgb(185,185,185);
    --font-darker: rgb(77,77,77); 
    --error: #B74F6F;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--dark);
}

.hero {
    height: 100vh;
    width: 40vw;
    position: relative;
}

.brand {
    font-family: outfit, 'arial';
    display: flex;
    position: absolute;
    color: white;
    top:200px;
    background-color: rgba(0, 0, 0, 0.411);
    justify-content: center;
    align-items: center;
    width: 40vw;
    font-size: 25px;
    font-weight: bolder;
}

.logo {
    width: 20%;
    height: 20%;
}

.logo, .brand>h1 {
    margin: 10px 10px 10px 10px;
}

form {
    background-color: var(--light);
    padding: 1.5rem 0 1.5rem 0;
    width: 60vw;
    box-shadow: 6px 10px 7px 4px rgba(208,208,208,0.04);
-webkit-box-shadow: 6px 10px 7px 4px rgba(208,208,208,0.04);
-moz-box-shadow: 6px 10px 7px 4px rgba(208,208,208,0.04);
}

form > div {
    float: left;
    margin-left: 4rem;
    margin-bottom: 20px;
}

form > h1 {
    margin-left: 4rem;
    margin-top: 0;
    color: var(--font-bright);
    font-size: 27px;
    
}

input, label {
    display: block;
}

label {
    color: var(--font-darker); 
    margin-bottom: 5px;
}

input {
    background-color: var(--light);
    border: 1px solid var(--font-darker);
    color: var(--font-darker);
    font-size: 25px;
    width: 25rem;
    border-radius: 5px;
}
input:focus {
    outline: none;
    border: 1px solid var(--green);
}

/* input:not(:placeholder-shown):not(:focus):invalid {
    outline: none;
    border: 1px solid var(--error);
}

input:focus:invalid {
    outline: none;
    border: 1px solid var(--error);
} */

input::placeholder {
    opacity: .2;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.content > .login {
    font-size: 20px;
}

.content > p, button  {
    margin-left: 4rem;
}

button {
    background-color: var(--green);
    border:2px solid var(--green);
    padding: 15px 40px;
    font-size: 25px;
    border-radius: 10px;
    font-weight: bold;
    font-family: outfit, "arial";
    margin-top: 30px;
}

button:hover {
    background-color: var(--dark);
    color: var(--green);
    border: 2px solid var(--green);
}

.content > p {
    font-size: 30px;
    padding-right: 8rem;
    color: var(--font-bright);
}

a {
    text-decoration: none;
    color: var(--green);
    font-weight: bold;
}

a:hover {
    color: var(--font-bright);
}

.match {
    padding-top: 5px;
    color: var(--error);
}
